{
    "presets": [
        [
            '@babel/preset-env',
            {
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": "node 6, > 0.25%, not dead"
            }
        ]
    ]
}
