{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "targets": "node 6, > 0.25%, not dead"
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}
